.flag {
  @apply relative top-4 py-1 w-1/3 text-center rounded-lg -left-3 z-1 bg-red px-2 text-white flex flex-row items-center justify-center;
}

.triangle {
  @apply absolute -left-[18px] text-bg-color-secondary;
}

.image {
  @apply duration-300 hover:shadow-md ml-5 first:ml-0 last:mr-0 border-b-4 border-solid transition-all rounded-lg overflow-hidden inline-block;
}
