.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	animation-name: fadeIn;
	animation-duration: 0.4s;
	z-index: 10000;
}

.window {
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	width: 80%;
	max-width: 1200px;
	animation-name: slideIn;
	animation-duration: 0.5s;
	position: relative;
	z-index: 2;

	> button {
		position: absolute;
		top: 20px;
		right: 20px;
		transition: color 0.4s ease-in-out;
		font-size: 20px;

		&:hover {
			@apply text-aqua;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		transform: translateY(-50%) scale(0.1);
		opacity: 0;
	}
	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}
