name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Copy files via SCP [Backend]
        run: |
          scp -o StrictHostKeyChecking=no -r ./backend root@185.129.49.148:/Meta-shop
          
      - name: Copy files via SCP [Frontend]
        run: |
          scp -o StrictHostKeyChecking=no -r ./frontend root@185.129.49.148:/Meta-shop

      - name: Execute SSH command
        run: |
          ssh -o StrictHostKeyChecking=no root@185.129.49.148 << 'EOF'
            cd /Meta-shop/backend
            docker-compose down
            docker-compose up -d --build
            cd ../frontend
            npm install
            npm run build
            cp -r build/* /var/www/html
            systemctl restart nginx
          EOF
